# Final Blending

In [2]:
import pandas as pd
test_0_04448 = pd.read_csv("/content/drive/MyDrive/microsoft_challenge/submit_test_0.04.csv") 
test_0_044964 = pd.read_csv("/content/drive/MyDrive/microsoft_challenge/submit_test0.0875_0.0449.csv") 
test_0_0529 = pd.read_csv("/content/drive/MyDrive/microsoft_challenge/without tta 0.0524.csv") 
test_0_04 = pd.read_csv('/content/drive/MyDrive/microsoft_challenge/rice_cv_pseudo.csv')
new_scheduler = pd.read_csv("/content/drive/MyDrive/microsoft_challenge/new_scheduler0.0582.csv")
test_0_06 = pd.read_csv("/content/drive/MyDrive/microsoft_challenge/rice_cv_0.0694.csv")
test_convnext = pd.read_csv("/content/drive/MyDrive/microsoft_challenge/rice_cv_0.0919 convnext.csv") 
test_last_caleb = pd.read_csv("/content/drive/MyDrive/microsoft_challenge/rice_cv_0.0020epoch.csv")

In [3]:
ensemble = test_0_04448.copy()

In [6]:
ensemble.iloc[:,2:] =(test_convnext.iloc[:,2:]*test_0_0529.iloc[:,2:]*test_0_04448.iloc[:,2:]*test_0_044964.iloc[:,2:]*test_last_caleb.iloc[:,2:]*new_scheduler.iloc[:,2:]*test_0_04.iloc[:,2:]*test_0_06.iloc[:,2:])**0.125

In [7]:
ensemble

               Image_id         blast         brown       healthy
0     id_00vl5wvxq3.jpg  9.999652e-01  7.091305e-06  1.031367e-06
1     id_01hu05mtch.jpg  2.114422e-03  9.830528e-01  3.315733e-05
2     id_030ln10ewn.jpg  9.787753e-01  6.803751e-02  2.504970e-04
3     id_03z57m8xht.jpg  9.999997e-01  5.443729e-07  9.911935e-08
4     id_04ngep1w4b.jpg  9.969406e-01  2.902458e-04  1.259308e-04
...                 ...           ...           ...           ...
1140  id_zrdlgjrq3r.jpg  5.549293e-07  3.321957e-03  9.811941e-01
1141  id_zsfayxwipp.jpg  5.276918e-07  9.993265e-01  1.317688e-04
1142  id_ztvp2l9k3h.jpg  9.991959e-01  4.771520e-03  5.643609e-06
1143  id_zwwcma7hlt.jpg  9.999434e-01  2.432312e-05  2.123618e-05
1144  id_zyo7m4fj8h.jpg  1.546008e-01  5.449370e-04  9.233823e-01

[1145 rows x 4 columns]

In [8]:
ensemble.to_csv("final_solution.csv",index=False)