In [3]:
#Import libraries to load and process data
import numpy as np
import pickle
import pandas as pd
from tqdm import tqdm as tqdm

In [2]:
# Getting all the data
dic_types={11: "electron", 13 : "muon", 211:"pion", 321:"kaon",2212 : "proton"}
X = []
y = []

for i in tqdm(range(1,351,1)):
    fid = f'D:/TIC-HEAP Cirta/Events CERN/event{i}.pkl' #Use Directory With Event PKL files on own computer
    try:
        pkl_file = open(fid, 'rb')
        event1 = pickle.load(pkl_file)
        # get the data and target
        data,target=event1[0],event1[1]
        target=target.astype('int')
        X += [d for d in data]
        y += [t for t in target]
    except:
        print('problem with file', i)

100%|████████████████████████████████████████████████████████████████████████████████| 350/350 [00:06<00:00, 56.13it/s]

In [3]:
df = pd.DataFrame({'y':y})
df['class'] = df['y'].map(dic_types)
for i in range(100):
    df[str(i)] = [x.flatten()[i] for x in X]
df.sample(5)

,y,class,0,1,2,3,4,5,6,7,...,90,91,92,93,94,95,96,97,98,99
526033,211,pion,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
608061,211,pion,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
72914,211,pion,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
629695,211,pion,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
190796,321,kaon,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [33]:
df.to_csv('train.csv')

In [4]:
#To Get Test File


pkl_file = open('data_test_file.pkl', 'rb')
test = pickle.load(pkl_file)

In [5]:
ss = pd.DataFrame({
    'image':[t[0] for t in test]
})

In [6]:
for i in range(100):
    ss[str(i)] = [0]*len(test)

for j in range(len(test)):
    for i in range(100):
        ss[str(i)][j] = test[j][1].flatten()[i]

In [94]:
ss.to_csv('Test2.csv')