# Entry: TIC HEAP Particle Classification

This notebook essentially re-creates my 2nd place entry to the TIC HEAP, with edits for clarity. Re-running, the score is 1.537 without scaling. Tweaking the predictions (sqrt of all but muons) takes this down to 1.532 on Zindi - my best score to date.

Summary:
After loading the data, I set up a simple model ensemble, and train it on balanced datasets. It's retrained on the larger classes, so it has more info for predictions but at all times sees a balanced dataset with a subset of the classes. We combine predictions for the different classes, do a final scaling step for fun, and submit.

# Data Set Up
- data_test_file.pkl i the current directory
- data/event[n].pkl with the training data from Cern

In [ ]:
# My downloading. I uploaded the test manually
!wget https://cernbox.cern.ch/index.php/s/OH9tOo8VHYpHJDl/download?path=%2F&x-access-token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJkcm9wX29ubHkiOmZhbHNlLCJleHAiOiIyMDIwLTAyLTEwVDE0OjU1OjU0LjY5MTkzNDU4MSswMTowMCIsImV4cGlyZXMiOjAsImlkIjoiMjA5ODk3IiwiaXRlbV90eXBlIjoxLCJtdGltZSI6MTU3MTI0MjM0Nywib3duZXIiOiJjaGFtcm91YyIsInBhdGgiOiJlb3Nob21lLWM6MTk5ODM5NzUiLCJwcm90ZWN0ZWQiOmZhbHNlLCJyZWFkX29ubHkiOnRydWUsInNoYXJlX25hbWUiOiJjaXJ0YV96aW5kaV9kYXRhIiwidG9rZW4iOiJPSDl0T284VkhZcEhKRGwifQ.QcwWY_U1NVgIiCuCjIPoO97VovZI32gk2OENXbRZTWQ&files=
!mkdir data
!tar -xf "download?path=%2F" -C data/ # Silly file name but but who cares :)

/bin/bash: x-access-token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJkcm9wX29ubHkiOmZhbHNlLCJleHAiOiIyMDIwLTAyLTEwVDE0OjU1OjU0LjY5MTkzNDU4MSswMTowMCIsImV4cGlyZXMiOjAsImlkIjoiMjA5ODk3IiwiaXRlbV90eXBlIjoxLCJtdGltZSI6MTU3MTI0MjM0Nywib3duZXIiOiJjaGFtcm91YyIsInBhdGgiOiJlb3Nob21lLWM6MTk5ODM5NzUiLCJwcm90ZWN0ZWQiOmZhbHNlLCJyZWFkX29ubHkiOnRydWUsInNoYXJlX25hbWUiOiJjaXJ0YV96aW5kaV9kYXRhIiwidG9rZW4iOiJPSDl0T284VkhZcEhKRGwifQ.QcwWY_U1NVgIiCuCjIPoO97VovZI32gk2OENXbRZTWQ: command not found
--2020-02-20 09:53:45--  https://cernbox.cern.ch/index.php/s/OH9tOo8VHYpHJDl/download?path=%2F
Resolving cernbox.cern.ch (cernbox.cern.ch)... 128.142.32.26, 128.142.32.38
Connecting to cernbox.cern.ch (cernbox.cern.ch)|128.142.32.26|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/octet-stream]
Saving to: ‘download?path=%2F’

download?path=%2F       [     <=>            ]   1005M  12.0MB/s    in 1m 40s

2020-02-20 09:55:27 (10.0 MB/s) - ‘download?path=%2F’ saved [1054237696]

# Loading in the data

I used code from the starting notebook to set this up. The end result is a dataframe with the labels and the 100 inputs (flattened the 10x10 images).

In [ ]:
#Import libraries to load and process data
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pickle
import glob

In [ ]:
# Getting all the data
dic_types={11: "electron", 13 : "muon", 211:"pion", 321:"kaon",2212 : "proton"}
X = []
y = []
pkls = glob.glob('data/*.pkl') # I didn't download all of them
for pkl in pkls:
  try:
    pkl_file = open(pkl, 'rb')
    event1 = pickle.load(pkl_file)
    # get the data and target
    data,target=event1[0],event1[1]
    # Some had np arrays in y. Skip those
    skip = False
    for t in target:
      if type(t) != np.int64:
        skip=True
    if not skip:
      X += [d for d in data]
      y += [t for t in target]
  except:
    print('problem with file', pkl)

In [ ]:
X[0]

array([[3., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 2., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 1.]])

In [ ]:
y[0]

211

In [ ]:
import pandas as pd
df = pd.DataFrame({
    'y':y
})
df['class'] = df['y'].map(dic_types)
for i in range(100):
  df[str(i)] = [x.flatten()[i] for x in X]
print(df.shape)
df.sample(5)

(1176475, 102)

           y class    0    1    2    3    4  ...   93   94   95   96   97   98   99
1159066  211  pion  6.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  1.0
349976   211  pion  4.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  1.0
404737   211  pion  2.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  2.0
447014   211  pion  2.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  2.0
679032   211  pion  3.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  1.0

[5 rows x 102 columns]

# Approach

The training data is imbalanced. And yet we're told the final test set isn't. This poses some problems - training on the imbalanced data to optimise a loss function will skew predictions in favour of the more abundant classes. But throwing out most of the other data seems a waste. Here's my proposed solution:

- Used balanced subsampling to get a small, balanced training set. Train a few models, and ensemble them. Keep the predictions for the smallest class (muons)
- Make a new, larger, balanced training set (leaving out the muons or boosting them somehow). Make predictions, keep those for the next biggest class. 
- Repeat.

In [ ]:
df.groupby('class').count()['y'] # What's the distribution? Imbalanced!

class
electron      3138
kaon        154323
muon          1237
pion        906047
proton      111730
Name: y, dtype: int64

# Balanced Subsampling:

Testing balanced ss method

In [ ]:
# Create a balanced training dataset
def sampling_k_elements(group, k=3000):
    if len(group) < k:
        return pd.concat([group, group.sample(k-len(group), replace=True)]) # Hacky, but works up to k > 2*len(group)
    return group.sample(k)

balanced = df.groupby('class').apply(sampling_k_elements).reset_index(drop=True)

In [ ]:
balanced.groupby('class').count()['y']

class
electron    3000
kaon        3000
muon        3000
pion        3000
proton      3000
Name: y, dtype: int64

In [ ]:
balanced.shape

(15000, 102)

# Defining our modelling approach

We specify two functions:
- get_data() gives X and Y to pass to a modelling function for training. We'll customize this depending on the class we're looking at.
- The modeling function (quick_enseble was the one I through together - but this could be any model or ensemble of models).

I've stripped out the testing part that I used to try a few different hyperparameters. But I didn't do much tuning in this part. The strenght of this appraoch is the way I deal with the class (im)balance - useing the model from another entry will likely give a MUCH better result.

In [ ]:
# !pip install catboost # Run once

Collecting catboost
  Downloading https://files.pythonhosted.org/packages/ca/ae/aaff63662f7f5d2af7ec8d61a6f39e78ada9348e5df4f43e665ecc4bea10/catboost-0.21-cp36-none-manylinux1_x86_64.whl (64.0MB)
     |████████████████████████████████| 64.0MB 88kB/s
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.17.5)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from catboost) (3.1.3)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from catboost) (1.12.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (0.25.3)
Requirement already satisfied: graphviz in /usr/local/lib/python3.6/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (2.4.6)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (2.6.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly->catboost) (1.3.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib->catboost) (45.1.0)
Installing collected packages: catboost
Successfully installed catboost-0.21

In [ ]:
from catboost import CatBoostClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split


# We write a get_data function - this sets up the data for the model. Important - we'll customise this each time
def get_data():
  return balanced[[str(i) for i in range(100)]], balanced['class']

# Can refine this later to use different models, params etc
def quick_ensemble(gd, X_test=[]):
  """ Takes in a get data function, fits some models, returns their preds for X_test """
  preds = []
  X, y = gd()
  model = CatBoostClassifier(iterations=1000, verbose=False)
  model.fit(X, y)
  preds.append(model.predict_proba(X_test))

  X, y = gd()
  model = CatBoostClassifier(iterations=20, verbose=False)
  model.fit(X, y)
  preds.append(model.predict_proba(X_test))

  X, y = gd()
  model = RandomForestClassifier(n_estimators=1000)
  model.fit(X, y)
  preds.append(model.predict_proba(X_test))

  X, y = gd()
  model = RandomForestClassifier(n_estimators=300, max_depth=5)
  model.fit(X, y)
  preds.append(model.predict_proba(X_test))

  X, y = gd()
  model = CatBoostClassifier(iterations=200, verbose=False)
  model.fit(X, y)
  preds.append(model.predict_proba(X_test))

  X, y = gd()
  model = CatBoostClassifier(iterations=600, verbose=False)
  model.fit(X, y)
  preds.append(model.predict_proba(X_test))

  return preds

In [ ]:
# Quick Test with a single data split, using the small balanced dataset generated earlier. Gives a good idea of final performance!
X, y = balanced[[str(i) for i in range(100)]], balanced['class']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

def test_get_data():
  print('test')
  return X_train, y_train

preds = quick_ensemble(test_get_data, X_test)

from sklearn.metrics import log_loss
classes = ['electron', 'kaon', 'muon', 'pion', 'proton']
flat_preds = np.concatenate([np.average(preds, axis=0)[:,i] for i in range(5)])
flat_trues = np.concatenate([(np.asarray(y_test)==classes[i]).astype(int) for i in range(5)])
print(log_loss(flat_trues, flat_preds)) # Agglogloss, wrong in this case
print('LOSS: ', log_loss(np.asarray([(np.asarray(y_test)==classes[i]).astype(int) for i in range(5)]).T, 
               np.asarray([np.average(preds, axis=0)[:,i] for i in range(5)]).T))

0.4807397591610485
LOSS:  1.5331715165548319

# Modelling Time!

Now we do it properly. We start creating a small, balanced set to train on all classes, and keep the preds for the smallest class (muon). Then we make a larger balanced set (using a new get_data function) and repeat. Importantly, get_data is called separately for each model in the ensemble - they'll all get different balanced datasets. For the small classes, all the rows will be included, but this lets each model see a different subset of the data for the larger classes, making things more robust).

In [ ]:
# Load the test data
import pickle
pkl_file = open('data_test_file.pkl', 'rb')
test = pickle.load(pkl_file)
ss = pd.DataFrame({
    'image':[t[0] for t in test]
})
X_test = [t[1].flatten() for t in test]

In [ ]:
from functools import partial

# Starting with Muons
def gd():
  balanced = df.groupby('class').apply(partial(sampling_k_elements, k=3000)).reset_index(drop=True)
  print(balanced.shape) 
  return balanced[[str(i) for i in range(100)]], balanced['class']

preds = quick_ensemble(gd, X_test) # Get preds from all those models
preds = np.average(preds, axis=0) # Simple average from the ensemble

muon_preds = preds[:,2]

(15000, 102)
(15000, 102)
(15000, 102)
(15000, 102)
(15000, 102)
(15000, 102)

In [ ]:
# Electrons
left = df.loc[~df['class'].isin(['muon'])]
def gd():
  balanced = left.groupby('class').apply(partial(sampling_k_elements, k=5000)).reset_index(drop=True)
  print(balanced.shape)
  return balanced[[str(i) for i in range(100)]], balanced['class']

preds = quick_ensemble(gd, X_test)
preds = np.average(preds, axis=0)

electron_preds = preds[:,0]

(20000, 102)
(20000, 102)
(20000, 102)
(20000, 102)
(20000, 102)
(20000, 102)

In [ ]:
# Class counts:
# electron      3138
# kaon        154323
# muon          1237
# pion        906047
# proton      111730

# All the rest have decent numbers, so we'll do them at once with 30k subsamples for each model #diversity_in_ai #underrepresented_classes
# Final try: 30k in each model and no scaling

# The Rest
left = df.loc[~df['class'].isin(['electron', 'muon'])]

def gd():
  balanced = left.groupby('class').apply(partial(sampling_k_elements, k=30000)).reset_index(drop=True) # TODO Up this if bored / wanting to mess with the balance
  print(balanced.shape)
  return balanced[[str(i) for i in range(100)]], balanced['class']

preds = quick_ensemble(gd, X_test)
preds = np.average(preds, axis=0)

kaon_preds = preds[:,0]
pion_preds = preds[:,1]
proton_preds = preds[:,2]

(90000, 102)
(90000, 102)
(90000, 102)
(90000, 102)
(90000, 102)
(90000, 102)

In [ ]:
## If testing with X_test made earlier, this gives an idea of performance
# classes = ['electron', 'kaon', 'muon', 'pion', 'proton']
# flat_preds = np.concatenate([electron_preds, kaon_preds, muon_preds, pion_preds, proton_preds])
# flat_trues = np.concatenate([(np.asarray(y_test)==classes[i]).astype(int) for i in range(5)])
# print('unscaled', log_loss(flat_trues, flat_preds))
# classes = ['electron', 'kaon', 'muon', 'pion', 'proton']
# flat_preds = np.concatenate([electron_preds*(4/5), kaon_preds*(3/5), muon_preds, pion_preds*(3/5), proton_preds*(3/5)]) # Probability adjustment
# flat_trues = np.concatenate([(np.asarray(y_test)==classes[i]).astype(int) for i in range(5)])
# print('scaled', log_loss(flat_trues, flat_preds))


# Save Predictions

Make our predictions and save in the right format. Optionally, we can do some additional scaling to try and get a better probability distribuution out of this thing.

In [ ]:
ss['electron'] = electron_preds
ss['muon'] = muon_preds
ss['pion'] = pion_preds
ss['kaon'] = kaon_preds
ss['proton'] = proton_preds

In [ ]:
ss.to_csv('submission_shared_example.csv', index=False)

In [ ]:
# Note that the test set has been designed to increase the balance among the classifications.
# ITS NOT PERFECTLY BALANCED!!

In [ ]:
# Example of scaling the preds (since the predictions come from differently balanced datasets, and we might want to tweak to try and guess the test distribution)
# You can multiply, but this gets a good score. Obviously much improvement to be had here!
ss['electron'] = electron_preds**0.5
ss['muon'] = muon_preds
ss['pion'] = pion_preds**0.5
ss['kaon'] = kaon_preds**0.5
ss['proton'] = proton_preds**0.5
ss.to_csv('submission_example_scaled.csv', index=False)